# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
stocks-business/.classpath
stocks-business/.project
stocks-business/.settings/org.eclipse.core.resources.prefs
stocks-business/.settings/org.eclipse.jdt.core.prefs
stocks-business/.settings/org.eclipse.m2e.core.prefs
stocks-common/.classpath
stocks-common/.project
stocks-common/.settings/org.eclipse.core.resources.prefs
stocks-common/.settings/org.eclipse.jdt.core.prefs
stocks-common/.settings/org.eclipse.m2e.core.prefs
stocks-domain/.classpath
stocks-domain/.gitignore
stocks-domain/.project
stocks-domain/.settings/org.eclipse.core.resources.prefs
stocks-domain/.settings/org.eclipse.jdt.core.prefs
stocks-domain/.settings/org.eclipse.m2e.core.prefs
stocks-message/.classpath
stocks-message/.project
stocks-message/.settings/.jsdtscope
stocks-message/.settings/org.eclipse.core.resources.prefs
stocks-message/.settings/org.eclipse.jdt.core.prefs
stocks-message/.settings/org.eclipse.m2e.core.prefs
stocks-message/.settings/org.eclipse.wst.common.component
stocks-message/.settings/org.eclipse.wst.common.project.facet.core.xml
stocks-message/.settings/org.eclipse.wst.jsdt.ui.superType.container
stocks-message/.settings/org.eclipse.wst.jsdt.ui.superType.name
stocks-message/.settings/org.eclipse.wst.validation.prefs
stocks-web/.classpath
stocks-web/.project
stocks-web/.settings/.jsdtscope
stocks-web/.settings/org.eclipse.core.resources.prefs
stocks-web/.settings/org.eclipse.jdt.core.prefs
stocks-web/.settings/org.eclipse.m2e.core.prefs
stocks-web/.settings/org.eclipse.wst.common.component
stocks-web/.settings/org.eclipse.wst.common.project.facet.core.xml
stocks-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
stocks-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
stocks-web/.settings/org.eclipse.wst.validation.prefs
stocks-business/.settings/org.eclipse.wst.common.component
stocks-business/.settings/org.eclipse.wst.common.project.facet.core.xml
stocks-common/.settings/org.eclipse.wst.common.component
stocks-common/.settings/org.eclipse.wst.common.project.facet.core.xml
stocks-domain/.settings/org.eclipse.wst.common.component
stocks-domain/.settings/org.eclipse.wst.common.project.facet.core.xml
